<div class='five-days__chart'>
  <ul class='nav-list nav'>
    <li class='chart-name hide-chart-header-js'>Hide chart</li>
    <li>
      <button class='chart-btn five-days__chart-show-btn'>
        <svg viewBox='0 0 24 24' class='chart-icon hide-chart-icon'>
          <path d='M7.406 15.422l-1.406-1.406 6-6 6 6-1.406 1.406-4.594-4.594z'></path>
        </svg>
      </button>
    </li>
  </ul>
  <p class='five-days__chart-text'>Average:</p>
  <div class='chart-wrapper'><canvas id='myChart'></canvas></div>
</div>